.mapcontainer{
  height: 100%;
}

.leaflet-container {
    width: 100%;
    height: 100%;
  }

/* .iconsdiv{
    width:20px; height:20px;
    background-image:url("../../assets/icons/clinics.png");
    background-size: 20px 20px;
} */

.mainContainer {
  position: absolute;
  width: 100%;
}

.mymap {
  position: relative;
  z-index: 0;
}

.checkContainer {
  position: relative;
  z-index: 1;
}

.my_container{
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

.map_layer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container_2 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}